<ul class="menu">
  <li><a href="/add-student">Add student</a></li>
  <li><a href="/add-teacher">Add teacher</a></li>
  <li><a href="/add-course">Add course</a></li>
  <li><a href="/add-subject">Add subject</a></li>
  <li><a href="/add-group">Add course</a></li>
  <li><a href="/add-course">Add course</a></li>
</ul>