.menu {
  display: flex;
  width: 100%;
  list-style: none;
}

.menu li {
  padding: .25rem;
  margin-right: .5rem;
  border: 1px solid gray;
  border-radius: 4px;
}

.menu li a {
  color: gray;
  font-size: 20px;
  font-family: Arial;
  text-transform: uppercase;
  text-decoration: none;
}